
/* IMPOSTAZIONI GENERALI */

.container {
    width: auto;
    margin: 20px;
}

/* HEADER */

.header {
    background-color: rgb(7, 96, 213);
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
}

.header-one {
    display: flex;
    justify-content: center;
}

.header-one img {
    height: 90px;
}

.header-two h1 {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
}

.header-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-three a {
    font-size: 1.5em;
    color: white;
    margin: 5px 0 5px 0;
    text-decoration: solid;
}



/* MAIN */
.main {
    background-color: white;
    margin: auto;
    padding: 20px;
}

.title h2 {
    text-align: start;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.title p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: grey;
}

.content {
    font-size: 1.4em; 
}
 

.content1 span {
    color: rgb(153, 7, 226);
}

.content2 span {
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    border: 2px solid grey;
}

.content3 span {
    color: rgb(153, 7, 226);
}

.content p { 
    margin-bottom: 30px;
}

.content li {
    margin-left: 30px;
    line-height: 1.2em;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.video {
    margin-bottom: 30px;
}

.video a {
    color: rgb(7, 96, 213);
}

.video p {
    font-size: 1.4em; 
    margin-bottom: 20px;
}

.video iframe {
    width: 100%;
    border-radius: 40px;
}


/* TABELLE */
.table {
    font-size: 1.4em; 
    text-align: center;
    width: 100%;
    border-bottom: 3px solid rgb(7, 96, 213);
    margin-bottom: 30px;
}

th {
    color: white;
    background-color: rgb(8, 45, 229);
}

.table p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 6px;
}

td, th {
    border:1px solid #ddd;
    padding:8px;
}



/* FORM */
.newsletter {
    padding: 20px;
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(189, 189, 189);
    border: 2px solid grey;
}

.newsletter h3 {
    font-size: 2em;
    text-align: center;
}

.newsletter p {
    font-size: 1.4em; 
}

.newsletter button {
    background-color: rgb(7, 96, 213);
    color: white;
    width: 100px; 
    padding: 5px; 
    font-size: 1.4em; 
}

.newsletter input {
    border-bottom: 2px Dashed grey;
    width: 160px; 
    padding: 5px; 
    font-size: 1.4em; 
}


/* ELEMENTI NELL' ASIDE */
.art h3 {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 40px 0;
}

.child {
    font-size: 1.4em;
    padding: 20px;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(189, 189, 189);
    margin-top: 20px;
    border: 2px solid grey;
}

.child1 i {
    line-height: 1.4em;
    margin-right: 4px;
    text-align: start;
}

.child1 a {
    color: rgb(7, 96, 213);
}

.child2 {
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}

.child2  i{
    margin-right: 4px;
}


/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    height: 150px;
    color: white;
    background: linear-gradient(rgb(7, 96, 213), rgb(18, 21, 25));
    margin-top: 30px;
    border: 2px solid grey;
}

.footer a {
    color: rgb(153, 7, 226);
}

.pie {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.1em;
    text-align: center;
}



